@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-hover-color: #334ae4;
}

.nav-heading {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: #1a2930;
    font-weight: 700;
}

.main-heading {
    font-family: "Barlow", sans-serif;
    font-size: 50px;
    line-height: 78px;
    color: #262626;
    font-weight: 600;
}

.para {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #262626;
    font-weight: 500;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    padding: 0 20px;
}

.active {
    color: #334ae4;
}

section {
    margin: 1.3rem 0;

}

/* ^ Navbar */

.main-nav {
    padding: 0.25rem 0;
    justify-content: space-around;
}

.nav-logo>img {
    height: 5rem;
}

.nav-links>ul {
    justify-content: center;
    gap: 2.75rem;
}

.hover-link {
    transition: all .3s ease-in-out;
}

.hover-link:hover {
    color: var(--primary-hover-color);
}

/* ^ Hero */

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    width: 45%;
}

#element {
    color: #334ae4;
    font-family: "Inter", sans-serif;
}

.typed-cursor {
    color: #334ae4;
}

.botao {
    margin: 1rem 0;
    width: 125px;
    height: 45px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px rgba(107, 221, 215, 0.37);
    padding: 5px 10px;
    background: rgba(47, 92, 197, 0.308);
    background: linear-gradient(160deg, rgba(47, 93, 197, 1) 0%, rgba(46, 86, 194, 1) 5%, rgba(47, 93, 197, 1) 11%, rgba(59, 190, 230, 1) 57%, rgba(0, 212, 255, 1) 71%);
    color: #010f08;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
    filter: drop-shadow(0 0 10px rgba(59, 190, 230, 0.568));
    transition: .5s linear;
}

.botao .mysvg {
    display: none;
}

.botao:hover {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: .5s linear;
}

.botao:hover .texto {
    display: none;
}

.botao:hover .mysvg {
    display: inline;
}

.botao:hover::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3.5px solid transparent;
    border-top: 3.5px solid #db9c12;
    border-right: 3.5px solid #db9c12;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
}

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hero-img {
    width: 45%;
}

.hero-img>img {
    width: 100%;
    height: auto;
    animation: animateUpDown 2s ease-in-out infinite alternate;
}

@keyframes animateUpDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
        /* Adjust the value for desired up-down movement */
    }
}


@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    .hero-content {
        width: 100%;
        margin-bottom: 30px;
    }

    .hero-img {
        width: 100%;
    }
}

/* ^ Project */

#Projects {
    background-color: rgba(231, 231, 231);
}

.project-section-heading {
    text-align: center;
    margin: 0.5rem 0;
}

.project-container {
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
}

.project-card {
    display: flex;
    width: 90%;
    height: 550px;
    background-image: url(img/Zerodha.png);
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 40px #1f1f1f;
}

.project-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #1f1f1f9a;
    z-index: 0;
}

.project-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform: scaleX(0);
    transform-origin: left;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.project-card:hover::before {
    transform: scaleX(1);
}

.project-content {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
    gap: 1em;
    bottom: 10%;
    padding: 2em;
    transition: all 0.4s ease;
    margin-left: 3%;
    width: 90%;
}

.project-card:hover .project-content {
    transform: scale(1.1);
}

.white {
    color: white !important;
}

.w-60 {
    width: 60%;
}

.project-links {
    display: flex;
    gap: 20px;
}

.tech-stack {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.tech-img {
    width: 7%;
}

.Btn {
    border: none;
    border-radius: 50%;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    transition-duration: 0.5s;
    overflow: hidden;
    position: relative;
}

.svgIcon {
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: 0.5s;
}

.Btn:hover {
    width: 110px;
    transition-duration: 0.5s;
    border-radius: 30px;
}

.Btn:hover .text {
    opacity: 1;
    transition-duration: 0.5s;
}

.Btn:hover .svgIcon {
    opacity: 0;
    transition-duration: 0.4s;
}

.demo-btn {
    background-color: rgba(89, 25, 209, 0.877);
}

.demo {
    height: 17px;
}

.second {
    background-image: url(img/Netflix.png);
}

.second::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0a0a0ac4;
    z-index: 0;
}

.third {
    background: url(img/Portfolio.png) no-repeat center center/cover;
}

.third::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0a0a0ac4;
    z-index: 0;
}